{% extends "layout.html" %}

{% block body %}

<h2> Date: </h2>

<div class="sched">
    <div class="content-table">
        <table id="Sample">
            <tbody>
                <tr>
                    <th> Course Code </th>
                    <th> Descriptive Title </th>
                    <th> Time </th>
                    <th> Room </th>
                    <th> Modality </th>
                    <th> Instructor </th>
                </tr>

                {% for subject in subjects %}
                <tr>
                    <td> {{ subject }} </td>
                    <td> sampe Descriptive Title </td>
                    <td> sample Time </td>
                    <td> sample Room </td>
                    <td> sample Modality </td>
                    <td> sample Instructor </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}