{% extends "layout.html" %}

{% block body %}

<h2> It looks like the schedule for today is not yet set. Set it now! </h2>

<form action="/setschedule" method="post">
 Day: {{ todaysDay }}
 Date: <input type="date" name="currentdate">
 
<div class="sched">
    <div class="content-table">
        <table id="Sample">
            <tbody>
                <tr>
                    <th> Subjects </th>
                    <th> Time </th>
                    <th> Room </th>
                    <th> Modality </th>
                </tr>

                {% for subject in schedule %}
                <tr>
                    <td> <input type="text" name="{{ subject['subject_name'] }}" hidden>{{ subject['subject_name'] }} </td>
                    <td> <input type="text" name="time_{{ subject['subject_name'] }}" placeholder="Time"> </td>
                    <td> <input type="text" name="room_{{ subject['subject_name'] }}" placeholder="Room"> </td>
                    <td> 
                        <select name="modality_{{ subject['subject_name'] }}"> 
                            <option selected hidden> Select </option>
                            <option value="Online"> Online </option>
                            <option value="Face to face"> Face to face </option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<button type="submit"> Set </button>
</form>

{% endblock %}