{% extends "layout.html" %}

{% block body %}

<h2> Date: </h2>

<div class="sched">
    <div class="content-table">
        <table id="Sample">
            <tbody>
                <tr>
                    <th> Course Code </th>
                    <th> Date </th>
                    <th> Time </th>
                    <th> Room </th>
                    <th> Modality </th>
                </tr>

                {% for subject in schedule %}
                <tr>
                    <td> {{ subject['subject_name'] }} </td>
                    <td> {{ subject['date'] }} </td>
                    <td> {{ subject['time'] }} </td>
                    <td> {{ subject['room'] }} </td>
                    <td> 
                        {% if subject['status'] == 'none' %}
                        <select> 
                            <option selected hidden> Select </option>
                            <option value="Online"> Online </option>
                            <option value="Online"> Face to face </option>
                        </select>
                        {% else %}
                            {{ subject['status'] }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}