{% extends "layout.html" %}

{% block body %}

<div class="header-container">
    <h5> 
        <form action="/showschedule" method="post">
            <button type="submit" name="changeDate" value="previous"> &lt;&lt; </button>
            {{ currentdate }}, {{ todaysDay }}
            <button type="submit" name="changeDate" value="next"> &gt;&gt; </button>
        </form> 
    </h5>
</div>

<div class="sched">
    <div class="content-table">
        <table id="Sample">
            <tbody>
                <tr>
                    <th> Subjects </th>
                    <th> Time </th>
                    <th> Room </th>
                    <th> Modality </th>
                </tr>

                {% for subject in schedule %}
                <tr>
                    <td> {{ subject['subject_name'] }} </td>
                    <td> {{ subject['time'] }} </td>
                    <td> {{ subject['room'] }} </td>
                    <td> {{ subject['modality'] }} </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}